{% extends 'base.html' %}

{% block content %}
<h1>Linked Table</h1>
<table>
    <thead>
        <tr>
            {% for column in data[0].keys() %}
            <th>{{ column | capitalize }}</th>
            {% endfor %}
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
            <td><a href="{{ row['Link'] }}">View Details</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}